<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/users',user.id,user.name]"
      [queryParams]="{allowEdit:user.id}"
      fragment='loading'
        class="list-group-item"
        *ngFor="let user of users">
        {{ user.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <button class="btn btn-primary" (click)="onLoadNigeria(10)">nigeria 10 </button>   
  </div>
 
</div>


